.title-slides-three{
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: blue;
}
.slideContainer3{
    height: 590px;
    background-color: aqua;
    .character-info {
        text-align: center;
    }
    margin-top: 50px;
    align-items: center;
}

.slick-slide img {
    margin: auto;
}

@media (max-width: 600px) {
    .slideContainer3{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slick-slide img {
        margin: 0;
    }

}