.Container5{
    height: 620px;
    background-color: #afaeae;
}
.img-content-grid {
    display: flex;
    flex-direction: row;
    .container-card{
        justify-content: center;
        align-items: center;
        padding-right: 20px;
        padding-top: 10px;
        .container-header{
            display: flex;
            flex-direction: row;
            background-color: brown;
            width: 100%;
            justify-content: center;
            align-items: center;
            .item-id{
                border-radius: 10px;
                background-color: white;
                margin-right: 30px;
            }
            .item-name{
                border-radius: 5px;
                background-color: white;
            }
        }
        .container-body{
            .item-image{
                width: 50%;
                height: 50%;
            }
        }
        .final-container{
            background-color: brown;
            width: 100%;
            justify-content: center;
            align-items: center;
            .item-text{
                border-radius: 5px;
                width: 50%;
                background-color: white;
            }
        }
    }
    .container-favorite{
        background-color: brown;
        width: 50%;
    }
}

.card {
    width: 190px;
    height: 254px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
    img{
        height: 90%;
        width: 100%;
    }
   }
   
   .card-info {
    padding-top: 10%;
   }
   
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }