.title-slides-two{
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: whitesmoke;
}

.slideContainer2{
    height: 590px;
    background-color: aquamarine;
    .character-info {
        text-align: center;
    }
    margin-top: 150px;
    align-items: center;
}

.slick-slide img {
    margin: auto;
}

@media (max-width: 600px) {
    .slideContainer2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slick-slide img {
        margin-left: 20;
    }

}