.title-slides{
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: blue;
}
.slideContainer{
    height: 620px;
    background-color: #8f8888;
    .character-info {
        text-align: center;
    }
}

.slick-slide img {
    margin: auto;
}

.container-buttons{
    display: flex;
    height: 50px;
    justify-content: end;
}

@media only screen and (max-width: 600px) {
    .slideContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slick-slide img {
        margin: 0;
    }

    .container-buttons{
        height: auto;
    }
}